

select {
    width: 500px ;       
    height: 45px ;      
    background-color: #ffffff ; 
    border: 1px solid #78d178 ; 
    display: block ;    
}

.job-option {
    border: 2px solid #81c784;  
    background-color: #ffffff;  
    padding: 10px 15px;         
    margin-bottom: 8px;         
    border-radius: 8px;        
    cursor: pointer;
    display: block;             
    width: 200px;              
}

.job-option:hover {
    background-color: #f1f8e9;  
}

.job-option input {
    margin-right: 10px;         
}

.bottom-layer {
    background-color: white;
    padding-left: 80px;  
}













