h1{
            color: rgb(216, 16, 32);
            background-color: rgb(13, 221, 58);
        }

.yoyo{
    font-size: 12px;
    color: rgb(102, 100, 100);
}
.section{
    font-size: 1.3em;
    line-height: 1.8;

}

.keyword{
    border: 1px double  rgb(122, 122, 241);
    width: 80px;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    color: rgb(122, 122, 241);
    float: left;
    margin-right: 20px;
}
.plus{
    
    float: right;
    margin-right: 20px;

}
.clear{
    clear: both;

}
.extend{
    border: 1px solid lightblue;
    padding: 10px;
    font-size: 1.3em;
    width: 600px;
    border-radius: 10px;
    
}

